<div class="row justify-content-center user-select-none">
  <div class="col-sm-8 col-lg-6 col-xl-4">
    <div class="card">
      <div class="card-body">
        <h2>{{ pageTitle }}</h2>
        <hr />
        <form
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit(loginForm)"
          novalidate
        >
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="emailControl"
              formControlName="email"
              placeholder="name@example.com"
              autoComplete="email"
              [class]="{
                'is-invalid':
                  (getEmailValidationMessage() | async) && isSubmitted,
                'is-valid': (getEmailValidationMessage() | async) === ''
              }"
            />
            <label for="emailControl">Email address</label>
            <div class="invalid-tooltip">
              <span>{{ getEmailValidationMessage() | async }}</span>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              id="passwordControl"
              formControlName="password"
              placeholder="Password"
              [class]="{
                'is-invalid':
                  (getPasswordValidationMessage() | async) && isSubmitted,
                'is-valid': (getPasswordValidationMessage() | async) === ''
              }"
            />
            <label for="passwordControl">Password</label>
            <div class="invalid-tooltip">
              <span>{{ getPasswordValidationMessage() | async }}</span>
            </div>
          </div>
          <div class="d-grid gap-3 text-center">
            <input type="submit" value="Log in" class="btn btn-primary" />
          </div>
        </form>
        <hr />
        <div class="d-flex justify-content-center align-items-center">
          <span>First time?</span>
          <a routerLink="/" class="ms-2">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>
