/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-image: linear-gradient(
    76.9deg,
    rgba(255, 90, 90, 1) 27.2%,
    rgba(130, 5, 255, 1) 79.9%
  );
}
